@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap');

$public-sans: "Public Sans", sans-serif;

// colors
$primary:#FA8232;
$secondary:#1B6392;
$grey: #5F6C72;
$white: #ffffff;

// Fonts
$fontsmall: 14px;
$fontnormal: 16px;
$fontmedium: 18px;
$fontlarge: 30px;
$fontxlarge: 34px;
$letter-spacing: 0.4px;

// Font weight
$weightlight: 400;
$weightbold: 700;
